 
 /* --------------- header ----------------- */
 
 @media (max-width: 1250px) {
    .container_info{
        display: flex;
        width: 100%;
    }


    .content_text_presentacion{
        width: 40%;
    }

    div.card{
        width: 50%;
    }


 }


 @media (max-width: 1170px) {

    .card{
        width: 60%;
    }


    h2.slogan_footer {
        font-size: 15px;
    }

    .text_footer{
        font-size: 10px;
    }
 }



 @media (max-width: 1000px){
    
    .content_img_presentacion{
        width: 80%;
        margin: 50px auto 0 auto;
    }

    .content_text_presentacion{
        width: 80%;
    }

    .container_content{
        flex-wrap: wrap;
        justify-content: center;
    }

 }



 @media (max-width: 630px){
    .contenido_foot{
        flex-direction: column;
    }

    .cont_foot{
        width: 80%;
        margin: 10px;
    }


 }

 @media (max-width: 210px){

 }

 @media (max-width: 1000px){
    .cont_form{
        width: 70%;
    }
 }

 @media (max-width: 830px){
    .cont_form{
        width: 80%;
    }

    .card{
        width: 70%;
    }
 }